img {
    max-width: 50vw;
    height: 300px;
    margin: 0 auto;
}

.margin {
    margin-top: 10px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

p {
    font-size: 12px;
}

.final {
    text-decoration: none;
}

#result {
    text-align: center;
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    img {
        max-width: 50vw;
        height: 500px;
        margin: 0;
    }
    .margin {
        margin-top: 0;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
}